body{
    background-color: rgb(255, 217, 0);
}
.App{
    background-color: teal;
    min-height: 500px;
    width: 400px;
    margin:40px auto;
}
.App .form-group>div{
padding-top: 20px;
}
.listauto{
    overflow: auto;
}